body {
    width: 100%;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: "Comic Sans MS", sans-serif;
}


.shop {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.product h2 {
    margin: 0;
}

.price {
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    letter-spacing: 1px;
}

img {
    margin-top: 20px;
    width: 150px;
    height: 100px;
    transition: transform 1s ease;
}

img:hover{
    transform: scale(1.3);
}

button {
    padding: 0.5rem 1rem;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    width: 10em;
    transition: background-color 1s ease, transform 1s ease;
}

button:hover {
    background-color: lightgray;
    transform: scale(1.3);
}

.container_basket {
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


.basket {
    margin-top: 6em;
    border-radius: 5px;
    background-color: white;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#basket-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: auto;
}

li {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid grey;
    font-size: 1.3em;
    margin-top: 1em;
}

li:hover {
    color: red;
    text-decoration: line-through;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

@media (max-width: 600px) {
    .shop {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .basket {
        width: 90%;
        margin-top: 2em;
    }

}

